{% extends "base.html" %}
{% block title_row %}{% endblock %}
{% block title_ruler %}{% endblock %}

{% block media %}
    <style>
        .post {
            margin: 0 1.4em;
        }
        .post:first-child {
            margin-top: 0.6em;
        }
    </style>
{% endblock %}

{% block body %}
    {% block before_posts %}{% endblock %}
    <div id="blog-container">
        <div class="blog-content sidebox">
            <h3>{{ _('About') }} {{ organization.name }} <i class="fa fa-info-circle"></i></h3>
            <div class="sidebox-content">
                <div style="margin: 1.4em;">
                    {% cache 3600 'organization_html' organization.id MATH_ENGINE %}
                        {{ organization.about|markdown('organization-about', MATH_ENGINE)|reference|str|safe }}
                    {% endcache %}
                </div>
            </div>
            {% if is_member or can_edit %}
                <br>
                <h3>{{ _('Organization News') }} <i class="fa fa-terminal"></i></h3>
                <div class="sidebox-content">
                    {% for post in posts %}
                        {% include "blog/content.html" %}
                    {% else %}
                        <div style="margin: 1.4em;">
                            <i>{{ _('There is no news at this time.') }}</i>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% block after_posts %}{% endblock %}
{% endblock %}
