<div class="sidebox">
    <h3>{{ _('Problem search') }} <i class="fa fa-search"></i></h3>
    <div class="sidebox-content">
        <form id="filter-form" name="form" action="" method="get">
            <div>
                <input id="search" type="text" name="search" value="{{ search_query or '' }}"
                       placeholder="{{ _('Search problems...') }}">
            </div>
            <div class="form-submit-group">
                <a id="go" class="button">{{ _('Go') }}</a>
            </div>
        </form>
    </div>
</div>
