{% extends "user/user-base.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'about' %}
    {% include "user/user-tabs.html" %}
{% endblock %}

{% block user_content %}
    <div class="content-description">
        {% with orgs=user.organizations.all() %}
            {% if orgs %}
                <p style="margin-top: 0"><b>{{ _('From') }}</b>
                    {% for org in orgs -%}
                        <a href="{{ org.get_absolute_url() }}">{{ org.name }}</a>
                        {%- if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        {% endwith %}

        <i>
            {% if user.user == request.user %}
                {{ _('You have not shared any information.') }}
            {% else %}
                {{ _('This user has not shared any information.') }}
            {% endif %}
        </i>
        <br>

        {% if perms.judge.change_profile %}
            {% with notes=user.notes %}
                {% if notes %}
                    <div style="padding-top: 2em;">
                        <h4>Administrator Notes</h4>
                        {{ notes|str|linebreaks }}
                    </div>
                {% endif %}
            {% endwith %}
        {% endif %}
    </div>
{% endblock %}

{% block bodyend %}
    {% if REQUIRE_JAX %}
        {% include "mathjax-load.html" %}
    {% endif %}
{% endblock %}
